header {
    height: 200px;
    background-color: azure;
}

nav {
    height: 70px;
    background-color: aquamarine;
}

#section-1 {
    float: left;
    min-height: 400px;
    width: 70%;
    background-color: bisque;
}

#section-2 {
    float: left;
    min-height: 400px;
    width: 30%;
    background-color: darkgray;
}

footer {
    background-color: black;
    color: white;
}